@using drugi.Models;
@model AddTodoViewModel
@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "AddNewTodo";
    Layout = "~/Views/Todo/_Layout.cshtml";
}

<body>
<h1>Add New Todo</h1>
<form asp-action="Add" method="post">
    <div class="form-group">
        <label for="Text" style="font-size: x-large ; color:aqua">Title:</label>
        <input asp-for="Text" class="form-control" style="font-size: large" />
        <span class="form-text text-muted" asp-validation-for="Text"></span>
        <label for="DateDue" style="font-size: x-large; color:aqua">Date Due:</label>
        <input class="form-control" asp-for="DateDue" style="font-size: large"/>
        <span class="form-text text-muted" asp-validation-for="DateDue"></span>
        <label for="Labels" style="font-size: x-large; color:aqua">Labels (Split with ','):</label>
        <input class="form-control" asp-for="Labels" style="font-size: large"/>
        <span class="form-text text-muted" asp-validation-for="Labels"></span>
        <p></p>
        <input type="submit" class="btn btn-group-justified" style="background-color:#965A3E" />
    </div>
</form>
</body>
</html>