@using trecazadaca;
@using drugi.Models;
@model CompletedViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Completed";
    Layout = "~/Views/Todo/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Completed items</title>
</head>
<body>
<h2 style="margin-bottom:70px">Completed Todos</h2>
@foreach (var item in Model.TodoViewModels)
{
    <div style="margin-bottom: 40px">
        @Html.Partial("TodoPartial", item)
        <a class="btn btn-default" asp-action="RemoveFromCompleted" asp-route-Id="@item.Id" style="color:DarkRed;">Remove from completed</a>
    </div>
}
</body>
</html>