@using trecazadaca;
@using drugi.Models;
@model IndexViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Todo/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Todo Items</title>
</head>
<body>
<h1>Todo</h1>
<div style="margin-bottom:50px; color:blue">
    <a class="btn btn-default" href="/todo/Add" >Add New Todos</a>
    <a class="btn btn-default" href="/todo/Completed">See completed todos</a>
</div>
@if (Model != null)
{
    <br />
    <br />
    foreach (TodoViewModel item in Model.TodoViewModels)
    {
        <span style="margin-right: 5px; font-size: x-large"><b>@item.Text</b></span>
        <span style="color: red"><b>@item.TimeLeft()</b></span>
        <br />
        @item.GetDate()
        <br />
        <b>@Html.ActionLink("Mark as completed", "MarkAsCompleted", new { id = item.Id }, new{ @class = "btn btn-default" })</b>
        <br />
        <br />
        <br />
    }
}
</body>
</html>